h3{
    color:rgb(19, 173, 137);
}
.success{
    background-color:rgb(19, 173, 137) ;
    color:white;
}
.bg-green{
    background-color: rgb(30, 146, 63);
}
.success:hover{
    background-color: rgb(24, 114, 49);
    color: white;
}
input:focus{
    border:2px solid rgb(19, 173, 137)!important;
    box-shadow: none!important;
}
.card{
    padding:24px;
    gap:10px;
    background:rgb(204, 245, 211);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   

}
.buttons{
    margin-top:3rem;
    text-align:right;
}
.edit{
    margin-right: 2em;
    padding:10px 34px !important;
}

.btn-danger{
    padding: 10px 34px !important;
    
}
.select-control{
    padding: 0.375rem 0.75rem;
        font-size: 1rem;
        color:white;
}